version: "3.8"

services:
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_INSTALL_PLUGINS=grafana-athena-datasource
    volumes:
      - grafana-data:/var/lib/grafana
      - grafana-config:/etc/grafana

volumes:
  grafana-data:
  grafana-config:
